body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgba(228, 14, 153, 0.64);
    padding: 20px;
    font-size: 32px;
    color: rgba(229, 13, 189, 0.719);
}